<a href="https://colab.research.google.com/github/GrueneKatze/AI-for-Medicine-Coursera/blob/master/Churn_rate_preds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Churn rate prediction with machine and deep learning models

https://www.kaggle.com/jinudaniel/telecom-churn-fast-ai-rf (fastai)

https://www.kaggle.com/pavanraj159/telecom-customer-churn-prediction (EDA!)

https://www.kaggle.com/danwheble/churn-prediction-telco-customer-churn

In [1]:
!curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

In [2]:
%matplotlib inline
from fastai.basics import *

In [ ]:
from keras.utils import to_categorical

Using TensorFlow backend.

In [3]:
import numpy as np 
import pandas as pd

#visualization
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [18]:
from fastai.tabular import *

In [6]:
#from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
import os
#from sklearn.preprocessing import LabelEncoder, Imputer, StandardScaler
from pandas.api.types import is_string_dtype, is_numeric_dtype

In [7]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'fastai/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
path_r = Path("/content/data") #Path(base_dir + 'rsna')
#path_r.mkdir(parents=True, exist_ok=True)

In [8]:
path_cr = Path(base_dir + 'churn_rate_t')
path_cr.mkdir(parents=True, exist_ok=True)

In [9]:
path_cr.ls()

[PosixPath('/content/gdrive/My Drive/fastai/churn_rate_t/datasets_13996_18858_WA_Fn-UseC_-Telco-Customer-Churn.csv')]

In [10]:
dataset = pd.read_csv(path_cr/'datasets_13996_18858_WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [ ]:
dataset.sample()

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
6829  8148-WOCMK   Male              0  ...           19.6          125     No

[1 rows x 21 columns]

In [ ]:
dataset.shape

(7043, 21)

In [ ]:
dataset.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [11]:
#excluding empty cells
dataset_wo_empty = dataset[dataset['TotalCharges'] != ' ']

In [ ]:
dataset_wo_empty.shape

(7032, 21)

In [12]:
dataset_wo_empty['TotalCharges'] = pd.to_numeric(dataset_wo_empty['TotalCharges'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dataset_wo_empty.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [13]:
dataset_wo_empty.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [14]:
fields_to_drop = ['customerID']
data = dataset_wo_empty.drop(fields_to_drop, axis=1)
data.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95       1889.50    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [15]:
for i in data.columns:
  print(i)
  print(data[i].unique())

gender
['Female' 'Male']
SeniorCitizen
[0 1]
Partner
['Yes' 'No']
Dependents
['No' 'Yes']
tenure
[ 1 34  2 45 ... 54 51 26 39]
PhoneService
['No' 'Yes']
MultipleLines
['No phone service' 'No' 'Yes']
InternetService
['DSL' 'Fiber optic' 'No']
OnlineSecurity
['No' 'Yes' 'No internet service']
OnlineBackup
['Yes' 'No' 'No internet service']
DeviceProtection
['No' 'Yes' 'No internet service']
TechSupport
['No' 'Yes' 'No internet service']
StreamingTV
['No' 'Yes' 'No internet service']
StreamingMovies
['No' 'Yes' 'No internet service']
Contract
['Month-to-month' 'One year' 'Two year']
PaperlessBilling
['Yes' 'No']
PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)' 'Credit card (automatic)']
MonthlyCharges
[ 29.85  56.95  53.85  42.3  ... 108.35  63.1   44.2   78.7 ]
TotalCharges
[  29.85 1889.5   108.15 1840.75 ... 7362.9   346.45  306.6  6844.5 ]
Churn
['No' 'Yes']

In [ ]:


#Try another preprocessing: Yes/ No --> 1/ 0; getdummies for other cols

In [ ]:
corrmat = data_w_dummies.corr()

In [ ]:
cols = []
k = 47 #number of variables for heatmap
cols = corrmat.nlargest(k, 'Churn')['Churn'].index
cm = np.corrcoef(data_w_dummies[cols].values.T)
sns.set(font_scale=1.25)
hm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)
plt.show()

In [16]:
#converting categorical to binary cols
dummy_fields = ['gender', 'Partner', 'Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod']
for each in dummy_fields:
    dummies = pd.get_dummies(data[each], prefix=each, drop_first=False)
    data = pd.concat([dummies, data], axis=1)

data_w_dummies = data.drop(dummy_fields, axis=1)
data_w_dummies.sample()
#dataset_w_dummies = pd.get_dummies(dataset_wo_empty)

      PaymentMethod_Bank transfer (automatic)  ...  Churn
6941                                        1  ...     No

[1 rows x 46 columns]

In [17]:
#Replacing Yes/ No with ones/ zeros
data_w_dummies.loc[data_w_dummies['Churn'] == 'Yes', 'Churn'] = 1
data_w_dummies.loc[data_w_dummies['Churn'] == 'No', 'Churn'] = 0

In [ ]:
len(data_w_dummies.columns)
data_w_dummies.sample(5)

      PaymentMethod_Bank transfer (automatic)  ...  Churn
930                                         1  ...      0
1126                                        0  ...      1
6397                                        1  ...      0
232                                         0  ...      1
1749                                        0  ...      0

[5 rows x 47 columns]

## Fastai approach

In [19]:
procs=[Normalize]

In [20]:
dep_var = 'Churn'

In [22]:
data_w_dummies[dep_var].sample(3)

1796    0
3197    1
4587    0
Name: Churn, dtype: object

In [ ]:
data = (TabularList.from_df(df, path=rossmann_path, cat_names=cat_vars, cont_names=cont_vars, procs=procs,)
                .split_by_idx(valid_idx)
                .label_from_df(cols=dep_var, label_cls=FloatList, log=True)
                .add_test(TabularList.from_df(test_df, path=rossmann_path, cat_names=cat_vars, cont_names=cont_vars))
                .databunch())

## To del

In [ ]:
cols = ['customerID','gender', 'Partner', 'Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']
for i in cols:
  dataset[i]= dataset[i].str.lower()

In [ ]:
dataset.sample(5)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
6296  4023-rtiqm  female              1  ...          50.40       1580.1     no
4481  8644-xytsv    male              0  ...          40.15      1626.05     no
6848  5916-qewpt  female              0  ...          69.00        147.8     no
3636  6319-qsusr  female              0  ...          19.70        216.2     no
2715  0484-jpbru    male              0  ...          25.25       996.45     no

[5 rows x 21 columns]

In [ ]:
#dataset[dataset['Partner']].to_categorical()#(a, 2)

In [ ]:
data_w_dummies.shape

(7043, 47)

In [ ]:
data_w_dummies.isnull().any()

PaymentMethod_Bank transfer (automatic)    False
PaymentMethod_Credit card (automatic)      False
PaymentMethod_Electronic check             False
PaymentMethod_Mailed check                 False
PaperlessBilling_No                        False
PaperlessBilling_Yes                       False
Contract_Month-to-month                    False
Contract_One year                          False
Contract_Two year                          False
StreamingMovies_No                         False
StreamingMovies_No internet service        False
StreamingMovies_Yes                        False
StreamingTV_No                             False
StreamingTV_No internet service            False
StreamingTV_Yes                            False
TechSupport_No                             False
TechSupport_No internet service            False
TechSupport_Yes                            False
DeviceProtection_No                        False
DeviceProtection_No internet service       False
DeviceProtection_Yes                       False
OnlineBackup_No                            False
OnlineBackup_No internet service           False
OnlineBackup_Yes                           False
OnlineSecurity_No                          False
OnlineSecurity_No internet service         False
OnlineSecurity_Yes                         False
InternetService_DSL                        False
InternetService_Fiber optic                False
InternetService_No                         False
MultipleLines_No                           False
MultipleLines_No phone service             False
MultipleLines_Yes                          False
PhoneService_No                            False
PhoneService_Yes                           False
Dependents_No                              False
Dependents_Yes                             False
Partner_No                                 False
Partner_Yes                                False
gender_Female                              False
gender_Male                                False
customerID                                 False
SeniorCitizen                              False
tenure                                     False
MonthlyCharges                             False
TotalCharges                               False
Churn                                      False
dtype: bool

In [ ]:
data_w_dummies.isnull().sum(axis = 0)

PaymentMethod_Bank transfer (automatic)    0
PaymentMethod_Credit card (automatic)      0
PaymentMethod_Electronic check             0
PaymentMethod_Mailed check                 0
PaperlessBilling_No                        0
PaperlessBilling_Yes                       0
Contract_Month-to-month                    0
Contract_One year                          0
Contract_Two year                          0
StreamingMovies_No                         0
StreamingMovies_No internet service        0
StreamingMovies_Yes                        0
StreamingTV_No                             0
StreamingTV_No internet service            0
StreamingTV_Yes                            0
TechSupport_No                             0
TechSupport_No internet service            0
TechSupport_Yes                            0
DeviceProtection_No                        0
DeviceProtection_No internet service       0
DeviceProtection_Yes                       0
OnlineBackup_No                            0
OnlineBackup_No internet service           0
OnlineBackup_Yes                           0
OnlineSecurity_No                          0
OnlineSecurity_No internet service         0
OnlineSecurity_Yes                         0
InternetService_DSL                        0
InternetService_Fiber optic                0
InternetService_No                         0
MultipleLines_No                           0
MultipleLines_No phone service             0
MultipleLines_Yes                          0
PhoneService_No                            0
PhoneService_Yes                           0
Dependents_No                              0
Dependents_Yes                             0
Partner_No                                 0
Partner_Yes                                0
gender_Female                              0
gender_Male                                0
customerID                                 0
SeniorCitizen                              0
tenure                                     0
MonthlyCharges                             0
TotalCharges                               0
Churn                                      0
dtype: int64

In [ ]:
data_w_dummies['TotalCharges'][488]

' '

In [ ]:
#Checking for empty cells
#np.where(data_w_dummies.applymap(lambda x: x == ''))
data_w_dummies[data_w_dummies['TotalCharges'] == ' '].index

In [ ]:
data_w_dummies.loc[data_w_dummies['TotalCharges'] == ' ', 'TotalCharges'] = 0

In [ ]:
data_w_dummies.loc[data_w_dummies['Churn'] == 'Yes', 'Churn'] = 1

In [ ]:
data_w_dummies.loc[data_w_dummies['Churn'] == 'No', 'Churn'] = 0

In [ ]:
data_w_dummies.sample(3)

      PaymentMethod_Bank transfer (automatic)  ...  Churn
3456                                        0  ...      0
666                                         0  ...      1
5957                                        0  ...      1

[3 rows x 47 columns]

In [ ]:
data_w_dummies.dtypes

PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
PaperlessBilling_No                          uint8
PaperlessBilling_Yes                         uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
StreamingMovies_No                           uint8
StreamingMovies_No internet service          uint8
StreamingMovies_Yes                          uint8
StreamingTV_No                               uint8
StreamingTV_No internet service              uint8
StreamingTV_Yes                              uint8
TechSupport_No                               uint8
TechSupport_No internet service              uint8
TechSupport_Yes                              uint8
DeviceProtection_No                          uint8
DeviceProtection_No internet service         uint8
DeviceProtection_Yes                         uint8
OnlineBackup_No                              uint8
OnlineBackup_No internet service             uint8
OnlineBackup_Yes                             uint8
OnlineSecurity_No                            uint8
OnlineSecurity_No internet service           uint8
OnlineSecurity_Yes                           uint8
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
MultipleLines_No                             uint8
MultipleLines_No phone service               uint8
MultipleLines_Yes                            uint8
PhoneService_No                              uint8
PhoneService_Yes                             uint8
Dependents_No                                uint8
Dependents_Yes                               uint8
Partner_No                                   uint8
Partner_Yes                                  uint8
gender_Female                                uint8
gender_Male                                  uint8
customerID                                  object
SeniorCitizen                                int64
tenure                                       int64
MonthlyCharges                             float64
TotalCharges                                object
Churn                                       object
dtype: object

In [ ]:
data_w_dummies[480:492]

     PaymentMethod_Bank transfer (automatic)  ...  Churn
480                                        0  ...      0
481                                        1  ...      1
482                                        0  ...      0
483                                        1  ...      0
484                                        0  ...      1
485                                        0  ...      0
486                                        0  ...      0
487                                        1  ...      0
488                                        1  ...      0
489                                        0  ...      1
490                                        1  ...      0
491                                        0  ...      0

[12 rows x 47 columns]

In [ ]:
#data_w_dummies.replace(r'\s+', np.nan, regex=True)

In [ ]:
data_w_dummies['TotalCharges'] = pd.to_numeric(data_w_dummies['TotalCharges'])
#data_w_dummies["Churn"] = data_w_dummies.Churn.astype(float)