<a href="https://colab.research.google.com/github/GrueneKatze/AI-for-Medicine-Coursera/blob/master/Churn_rate_preds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

In [2]:
%matplotlib inline
from fastai.basics import *

In [32]:
import numpy as np 
import pandas as pd

#visualization
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [11]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'fastai-v3/'

Mounted at /content/gdrive

In [26]:
path_r = Path("/content/data") #Path(base_dir + 'rsna')
#path_r.mkdir(parents=True, exist_ok=True)

In [19]:
path_cr = Path(base_dir + 'churn_rate_t')
path_cr.mkdir(parents=True, exist_ok=True)

In [27]:
path_r.ls()

[PosixPath('/content/data/datasets_13996_18858_WA_Fn-UseC_-Telco-Customer-Churn.csv')]

In [29]:
dataset = pd.read_csv(path_r/'datasets_13996_18858_WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [31]:
dataset.sample()

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
6829  8148-WOCMK   Male              0  ...           19.6          125     No

[1 rows x 21 columns]

In [33]:
dataset.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [37]:
cols = ['gender', 'Partner', 'Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']
for i in cols:
  dataset[i].str.lower()

In [38]:
dataset.sample(5)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
6299  9541-PWTWO  Female              0  ...          80.95      4233.95     No
4428  5449-FIBXJ    Male              0  ...         103.30       2012.7    Yes
6150  5222-IMUKT    Male              0  ...          91.05       2871.5     No
107   9750-BOOHV  Female              0  ...          30.15       927.65     No
4328  1101-SSWAG  Female              0  ...          51.10       711.15     No

[5 rows x 21 columns]

In [34]:
for i in dataset.columns:
  print(i)
  print(dataset[i].unique())

customerID
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' '7795-CFOCW' ... '2234-XADUH' '4801-JZAZL' '8361-LTMKD' '3186-AJIEK']
gender
['Female' 'Male']
SeniorCitizen
[0 1]
Partner
['Yes' 'No']
Dependents
['No' 'Yes']
tenure
[ 1 34  2 45 ... 51 26  0 39]
PhoneService
['No' 'Yes']
MultipleLines
['No phone service' 'No' 'Yes']
InternetService
['DSL' 'Fiber optic' 'No']
OnlineSecurity
['No' 'Yes' 'No internet service']
OnlineBackup
['Yes' 'No' 'No internet service']
DeviceProtection
['No' 'Yes' 'No internet service']
TechSupport
['No' 'Yes' 'No internet service']
StreamingTV
['No' 'Yes' 'No internet service']
StreamingMovies
['No' 'Yes' 'No internet service']
Contract
['Month-to-month' 'One year' 'Two year']
PaperlessBilling
['Yes' 'No']
PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)' 'Credit card (automatic)']
MonthlyCharges
[ 29.85  56.95  53.85  42.3  ... 108.35  63.1   44.2   78.7 ]
TotalCharges
['29.85' '1889.5' '108.15' '1840.75' ... '7362.9' '346.45' '306.6' '6844.5']
Churn
['No' 'Yes']